*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.box{
	width: 500px;
	height: 500px;
	border:1px solid blue;
	overflow: hidden;
}
.box ul{
	width: 2500px;
	height: 500px;
	list-style: none;
}
.box ul li{
	width: 500px;
	height: 500px;
	float: left;
	border:1px solid red;
}
.box ul li img{
	width: 500px;
	height: 500px;
}